<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Image Hotspot</display-name>

	<!-- Spring Security Filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring Front End Controller -->
	<servlet>
		<servlet-name>ImageHotspot</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageHotspot</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- Context Configuration File location -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/ImageHotspot-servlet.xml</param-value>
	</context-param>

	<!-- Hotspot Image -->
	<context-param>
		<param-name>hotspotImage</param-name>
		<param-value>/img/hotspot.png</param-value>
	</context-param>

	<!-- Context Loader Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Jersey REST Service -->	
	<servlet>
		<servlet-name>HotSpot Web Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.sidhu.utility.imagehotspot.api</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotSpot Web Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<!-- Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>